@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
    background-color: #edf2f7; 
    color: #37474f; 
    margin: auto; 
    max-width: 50%;
    padding: 80px 80px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

a {
    text-decoration:none;
    font-weight: normal;
    color: #0074D9;
}
a:hover {
    color: #F08050;
    font-size: 98%;
}

h1 {
    font-size: x-large;
    padding-bottom: 20px;
}

h2 {
    font-weight: normal;
    font-size: large;
}

li{
    margin: 0;
    padding: 0.1em;
}
p{
    margin: 0.2em;
    padding: 0em;
}

.container {
    width: 100%;
    overflow: hidden;
}

#main-header h1 {
    font-size: xx-large;
}


#self-intro h2{
    margin: 0.2em;
}
#self-intro p {
    font-size: small;
}

.box {
    padding: 0px;
    margin: 5%;
    position: relative;
    box-sizing: border-box;
}

.box ul {
    line-height: 20px;
}

#job-title {
    text-decoration: underline;
}

#paper-title {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5em;
}

#author-name strong {
    text-decoration: underline;
}

#paper-ul li {
    margin: 0;
    padding: 0.5em;
}

#award h2{
    margin: 0.2em;
}

#award a {
    font-size: 0.875em;
}

#award a:hover {
    font-size: 0.8575em; /*0.875 * 98%*/
}

#service h2 {
    margin: 0.2em;
}

[v-cloak] {
    display: none;
}

@media(max-width: 1300px) {
    body {
        max-width: 65%;
    }
    .wrapper .sidebar{
        background: rgb(175, 186, 203) !important;
        position: fixed !important;
        top: 150px !important;
        left: 18% !important;
        width: 160px !important;
        height: 220px !important;
    }
    .wrapper .sidebar .profile img{
        position: relative;
        display: block;
        width: 100px !important;
        height: 100px !important;
        border-radius: 50% !important;
        margin: 0 auto;
    }
    .wrapper .sidebar .profile .text h1 {
        font-size: larger;
    }
}

@media(max-width: 900px) {
    body {
        max-width: 100%;
    }
    .wrapper .sidebar{
        position: relative !important;
        top: auto !important;
        left: 58% !important;
        width: 350px !important;
        height: 90px !important;
    }
    .wrapper .sidebar .profile img{
        width: 50px !important;
        height: 50px !important;
        float: left;
        margin: auto 20px !important;
    }
    .wrapper .sidebar .profile .text h1{
        position: relative;
        left: -20% !important;
        transform: translateY(50%);
    }
    .wrapper .sidebar .profile .text h2 {
        display: none;
    }
    .wrapper .sidebar .profile .related-links {
        position: relative;
        left: 30% !important;
        transform: translateY(-117%);
    }
}

@media(max-width: 530px) {
    body {
        padding: 80px 0px !important;
    }
    .wrapper .sidebar{
        left:auto;
        width: 300px !important;
        height: 90px !important;
    }
    .wrapper .sidebar .profile .text h1 {
        left: -23% !important;
        font-size: larger;
    }
}

.wrapper .sidebar{
    background: rgb(175, 186, 203);
    position: fixed;
    top: 17%;
    left: 24%;
    width: 200px;
    height: 280px;
    padding: 20px 0;
    border-radius: 25px;
    transform: translateX(-70%);
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}

.sidebar .profile .text {
    color: #dee4ec;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 8px;
}

.sidebar .profile .related-links .icon {
    font-size: 1.3em;
}