@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #edf2f7; 
    color: #37474f; 
    margin: auto; 
    max-width: 55%;
    padding: 80px 80px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

a {
    text-decoration:none;
    font-weight: normal;
    color: #0074D9;
}
a:hover {
    color: #F08050;
    font-size: 98%;
}

h1 {
    font-size: x-large;
    padding-bottom: 20px;
}

h2 {
    font-weight: normal;
    font-size: large;
}

li{
    margin: 0;
    padding: 0.1em;
}
p{
    margin: 0.2em;
    padding: 0em;
}

.container {
    width: 100%;
    overflow: hidden;
}

#main-header h1 {
    font-size: xx-large;
}


#self-intro h2{
    margin: 0.2em;
}
#self-intro p {
    font-size: small;
}

.box {
    padding: 0px;
    margin: 5%;
    position: relative;
    box-sizing: border-box;
    scroll-margin-top: 30px;
}

.box ul {
    line-height: 20px;
}

#job-title {
    text-decoration: underline;
}

#paper-title {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5em;
}

#author-name strong {
    text-decoration: underline;
}

#paper-ul li {
    margin: 0;
    padding: 0.5em;
}

#award h2{
    margin: 0.2em;
}

#award a {
    font-size: 0.875em;
}

#award a:hover {
    font-size: 0.8575em; /*0.875 * 98%*/
}

#service h2 {
    margin: 0.2em;
}

[v-cloak] {
    display: none;
}

@media(max-width: 1300px) {
    body {
        max-width: 70%;
    }
    .wrapper .sidebar{
        width: 175px !important;
        height: 480px !important;
        left: 16% !important;
    }
    .wrapper .sidebar .profile img{
        position: relative;
        width: 100px !important;
        height: 100px !important;
        border-radius: 50% !important;
        margin: 0 auto;
    }
    .wrapper .sidebar .profile .nav-items li{
        text-align: left;
        margin-top: 2px !important;
        margin-left: 20px !important;
    }
    .wrapper .sidebar .profile .nav-items span{
        font-size: 0.85em;
    }
}

@media(max-width: 900px) {
    body {
        max-width: 100%;
    }
    .wrapper .sidebar{
        position: relative !important;
        left: 65% !important;
        width: 85% !important;
        height: 50px !important;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .wrapper .sidebar .profile img{
        position: absolute !important;
        margin-top: 0 !important;
        width: 50px !important;
        height: 50px !important;
        top: -80px;
        margin-left: -15%;
        font-size: 1.5em;
    }
    .wrapper .sidebar .profile .text h1{
        position: relative;
        top: -14px;
        margin-left: -10%;
        font-size: 1.5em;
    }
    .wrapper .sidebar .profile .text h2 {
        display: none;
    }
    .wrapper .sidebar .profile .related-links {
        position: relative;
        top: -60px;
        float: right;
    }
    .wrapper .sidebar .profile .nav-items{
        display: none;
    }
    .menu {
        display: block !important;
    }
    #about-me {
        margin-top: -40px;
    }
    .wrapper .backToTop a {
        display: block !important;
        position: fixed !important;
    }
    .sidebar-hr {
        display: none;
    }
}

@media(max-width: 600px) {
    body {
        padding: 80px 0px !important;
    }
    .wrapper .sidebar {
        max-width: 100%;
        margin-left: 10px;
    }
    .wrapper .sidebar .profile .text h1 {
        font-size: larger;
    }
}

.wrapper .sidebar{
    background: rgb(169, 190, 222);
    position: fixed;
    top: 0%;
    left: 22%;
    width: 210px;
    height: 585px;
    padding: 20px 0;
    border-radius: 25px;
    transform: translateX(-70%);
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}

.wrapper .sidebar .profile .text {
    color: #dee4ec;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 8px;
}

.wrapper .sidebar .profile .text h1 {
    font-size: 1.1em;
}

.wrapper .sidebar .profile .text h2 {
    font-size: 0.9em;
}

.sidebar .profile .related-links {
    margin-bottom: 20px;
}

.sidebar .profile .related-links .icon {
    font-size: 1.3em;
}

.wrapper .sidebar .profile .nav-items {
    margin-top: 15px;
}

.wrapper .sidebar .profile .nav-items li{
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

.wrapper .sidebar .profile .nav-items span{
    font-weight: bold;
}

.menu {
    display: none;
    position: relative;
    left: 20px;
    top: -93px;
    margin-right: 45%;
    margin-left: 30px;
}

#sub-menu {
    display: none;
    margin-top: 20px;
    margin-left: -15px;
  }

#sub-menu a {
    font-weight: bold;
  }

#menu-button {
    background: none;
    border: none;
    font-size: 30px;
}

.wrapper .backToTop a:hover, a:active {
    background-color: #F08050;
    color: white;
}

.wrapper .backToTop a {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 0px;
    padding: 10px;
    opacity: 70%;
    z-index: 999;
    background: none;
    cursor: pointer;
    border: #dee4ec solid;
    border-radius: 50%;
    font-size: 20px;
  }

.sidebar-hr {
    border: 0;
    height: 3.5px;
  }