<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Weibin Ma's Homepage</title>
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Header -->
    <header id="main-header">
        <h1>Weibin Ma</h1>
    </header>

    
    <!-- Self-Intro -->
    <section class="box" id="headers" v-cloak>
        <div id="self-intro">
            <h2>PhD Candidate</h2>
            <h2 v-for="univLink in university" :key="univLink.id" v-cloak> <a target="_blank" :href="univLink.url"> {{univLink.name}} </a> </h2>
            <h2 v-cloak> 
                <a target="_blank" :href="myself.linkedIn.url"> {{myself.linkedIn.name}}</a> | 
                <a target="_blank" :href="myself.googleScholar.url"> {{myself.googleScholar.name}}</a> |
                <a target="_blank" :href="myself.gitHub.url"> {{myself.gitHub.name}}</a>
            </h2>
            <!-- <h3><b>Email</b> : weibinma at udel dot edu</h3> -->
            <p><i>Last modified in Mar, 2023</i></p>
        </div>
        <!-- Headshot -->
        <div id="sidebar">
            <img src="images/me.jpeg" alt="headshot">
        </div>
    </section>

    

    <!-- About Me -->
    <section class="box" id="about-me">
        <div class="container">
            <hr>
            <h1>About Me</h1>
            <h2> I am currently a Ph.D. Candidate in Computer Science at University of Delaware, 
                where I am fortunate to be advised by <a target="_blank" href="https://www.eecis.udel.edu/lena/">Prof. Lena Mashayekhy</a>. 
                Before entering PhD study in fall 2018, I received my B.S. degree in Electronic Information Science and Technology at 
                Dalian Maritime University, Dalian, China in 2014 and received my M.S. degree in Data Science at 
                University at Buffalo, The State University of New York, Buffalo, USA in 2018.</h2>
        </div>
    </section>


    <hr>
    <!-- Research Interests -->
    <section class="box" id="reseach-interest">
        <h1>Research Interests</h1>
        <h2>Edge Computing, Computation/Video Offloading, Resource Allocation, Service Placement, Optimization. </h2>
    </section>


    <hr>
    <!-- Working Experience -->
    <section class="box" id="work-experience" v-cloak>
        <h1>Working Experience</h1>
        <ul>
            <li v-for="work in works" :key="work.id">
                <h2 id="company-name"><strong> {{work.company}} </strong></h2>
                <p id="job-title"> {{work.title}} </p>
                <p> {{work.date}}, {{work.location}} </p>
            </li>
        </ul>
    </section>


    <hr>
    <!-- Publication -->
    <section class="box" id="publication" v-cloak>
        <h1>Publications</h1>
        <h2><strong>Journal Papers</strong></h2>
            <ul id="paper-ul">
                <li v-for="paper in journal" :key="paper.id">
                    <p id="paper-title"> {{paper.title}} </p>
                    <p id="author-name" v-html="paper.authors"></p>
                    <p id="paper-link" v-html="paper.publisher"></p>
                    <p>[<a target="_blank" :href="paper.url"><strong>Link</strong></a>] <span v-if="paper.pdf">[<a target="_blank" :href="paper.pdf"><strong>PDF</strong></a>]</span> </p>
                </li>
            </ul>
        <h2><strong>Conference Papers</strong></h2>
            <ul id="paper-ul">
                <li v-for="paper in conference" :key="paper.id">
                    <p id="paper-title"> {{paper.title}} </p>
                    <p id="author-name" v-html="paper.authors"></p>
                    <p id="paper-link"> {{paper.publisher}} [<a target="_blank" :href="paper.url"><strong>Link</strong></a>] <span v-if="paper.pdf">[<a target="_blank" :href="paper.pdf"><strong>PDF</strong></a>]</span></p>
                </li>
            </ul>
    </section>


    <hr>
    <!-- Award -->
    <section class="box" id="award" v-cloak>
        <h1>Award</h1>
        <ul>
            <li v-for="award in awards" :key="award.id"><h2> {{award.awardName}} <span v-if="award.url">[<a target="_blank" :href="award.url"><strong>Link</strong></a>]</span></h2></li>
        </ul>
    </section>


    <hr>
    <!-- Service -->
    <section class="box" id="service" v-cloak>
        <h1>Service</h1>
        <ul>
            <li v-for="service in services" :key="service.id"><h2> {{service.confName}} </h2></li>
        </ul>
    </section>


    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="main.js"></script>
</body>

</html>