<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Weibin Ma's Homepage</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="./css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Self-Intro -->
    <div class="wrapper" id="headers" v-cloak>
        <div class="sidebar">
            <div class="profile">
                <img src="images/me.jpeg" alt="headshot">
                <div class="text">
                    <h1> {{header.myname}} </h1>
                    <h2> {{header.title}} </h2>
                </div>

                <div class="related-links">
                    <a target="_blank" :href="header.mylinks.linkedIn.url">
                        <span class="icon"><i :class="header.mylinks.linkedIn.icon"></i></span>&nbsp;
                    </a> &nbsp;&nbsp;
                    <a target="_blank" :href="header.mylinks.googleScholar.url">
                        <span class="icon"><i :class="header.mylinks.googleScholar.icon"></i></span>&nbsp;
                    </a> &nbsp;&nbsp;
                    <a target="_blank" :href="header.mylinks.gitHub.url">
                        <span class="icon"><i :class="header.mylinks.gitHub.icon"></i></span>&nbsp;
                    </a>
                </div>

                <hr class="sidebar-hr">

                <div class="nav-items">
                    <ul v-for="sec in header.secinfo">
                        <li><a :href="'#' + sec.id"><span> {{sec.title}} </span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a href="#" id="back-to-top">
                <span><i class="fa fa-arrow-up"></i></span>
            </a>
        </div>

    </div>


    <!-- Menu Bar -->
    <div class="menu" id="menu" v-cloak>
        <button @click="showMenu" id="menu-button">
            <a href="#"><i :class="menuData.class"></i></a>
        </button>
        <ul id="sub-menu">
            <li v-for="sec in menuData.Allsections" :key="sec.id">
                <a :href="'#' + sec.id"><span> {{sec.title}} </span></a>
            </li>
        </ul>
    </div>


    <!-- About Me -->
    <section class="box" id="about-me" v-cloak>
        <div class="container">
            <h1> {{aboutMe.title}} </h1>
            <h2 v-html="aboutMe.text"></h2>
        </div>
    </section>


    <!-- Research Interests -->
    <section class="box" id="research-interest" v-cloak>
        <h1> {{researchInterests.title}} </h1>
        <h2> {{researchInterests.text}} </h2>
    </section>


    <!-- Working Experience -->
    <div class="box" id="work-experience" v-cloak>
        <h1> {{workExperience.title}} </h1>
        <ul>
            <li v-for="work in workExperience.company" :key="work.id">
                <h2 id="company-name"><strong> {{work.company}} </strong></h2>
                <p id="job-title"> {{work.title}} </p>
                <p> {{work.date}}, {{work.location}} </p>
            </li>
        </ul>
    </div>


    <!-- Publication -->
    <section class="box" id="publication" v-cloak>
        <h1> {{publications.title}} </h1>
        <h2><strong> {{publications.journal.title}} </strong></h2>
        <ul id="paper-ul">
            <li v-for="paper in publications.journal.papers" :key="paper.id">
                <p id="paper-title"> {{paper.title}} </p>
                <p id="author-name" v-html="paper.authors"></p>
                <p id="paper-link" v-html="paper.publisher"></p>
                <p>[<a target="_blank" :href="paper.url"><strong>Link</strong></a>] <span v-if="paper.pdf">[<a
                            target="_blank" :href="paper.pdf"><strong>PDF</strong></a>]</span> </p>
            </li>
        </ul>
        <h2><strong> {{publications.conference.title}} </strong></h2>
        <ul id="paper-ul">
            <li v-for="paper in publications.conference.papers" :key="paper.id">
                <p id="paper-title"> {{paper.title}} </p>
                <p id="author-name" v-html="paper.authors"></p>
                <p id="paper-link"> {{paper.publisher}} [<a target="_blank" :href="paper.url"><strong>Link</strong></a>]
                    <span v-if="paper.pdf">[<a target="_blank" :href="paper.pdf"><strong>PDF</strong></a>]</span></p>
            </li>
        </ul>
    </section>


    <!-- Award -->
    <section class="box" id="award" v-cloak>
        <h1> {{awards.title}} </h1>
        <ul>
            <li v-for="award in awards.allAwards" :key="award.id">
                <h2> {{award.awardName}} <span v-if="award.url">[<a target="_blank"
                            :href="award.url"><strong>Link</strong></a>]</span></h2>
            </li>
        </ul>
    </section>


    <!-- Service -->
    <section class="box" id="service" v-cloak>
        <h1> {{services.title}} </h1>
        <ul>
            <li v-for="service in services.allServices" :key="service.id">
                <h2> {{service.confName}} </h2>
            </li>
        </ul>
    </section>


    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="main.js"></script>

    </div>
</body>

</html>